openapi: 3.0.3
info:
  title: Basetrip Cities Phrases API
  description: The Basetrip API provides travel intelligence data including country and city information, travel phrases, safety ratings, visa requirements, cost of living data, and health advisories. Designed to help travel platforms differentiate their products and improve traveler experiences.
  version: 3.0.0
  contact:
    name: Basetrip Support
    url: https://www.thebasetrip.com/en/documentation/v3
  termsOfService: https://www.thebasetrip.com/en/terms
servers:
- url: https://api.thebasetrip.com/v3
  description: Basetrip API v3
security:
- ApiKeyAuth: []
tags:
- name: Phrases
paths:
  /countries/{id}/phrases:
    get:
      operationId: listPhrasesByCountry
      summary: List Phrases By Country
      description: Get travel phrases for the primary language of a country.
      tags:
      - Phrases
      parameters:
      - name: id
        in: path
        required: true
        description: Country slug or alpha-2 code
        schema:
          type: string
      - name: language
        in: query
        description: Source language for translations (en, fr, de, it, es)
        schema:
          type: string
          enum:
          - en
          - fr
          - de
          - it
          - es
          default: en
      responses:
        '200':
          description: Travel phrases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    PhraseListResponse:
      type: object
      properties:
        language:
          type: string
          description: Destination language code
        phrases:
          type: array
          items:
            $ref: '#/components/schemas/Phrase'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
    Phrase:
      type: object
      properties:
        category:
          type: string
          description: Phrase category (e.g., Greetings, Dining, Transportation)
        original:
          type: string
          description: Phrase in source language
        translation:
          type: string
          description: Phrase in destination language
        phonetic:
          type: string
          description: Phonetic pronunciation guide
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
