openapi: 3.0.3
info:
  title: Basetrip Cities Health API
  description: The Basetrip API provides travel intelligence data including country and city information, travel phrases, safety ratings, visa requirements, cost of living data, and health advisories. Designed to help travel platforms differentiate their products and improve traveler experiences.
  version: 3.0.0
  contact:
    name: Basetrip Support
    url: https://www.thebasetrip.com/en/documentation/v3
  termsOfService: https://www.thebasetrip.com/en/terms
servers:
- url: https://api.thebasetrip.com/v3
  description: Basetrip API v3
security:
- ApiKeyAuth: []
tags:
- name: Health
paths:
  /countries/{id}/health:
    get:
      operationId: getCountryHealth
      summary: Get Country Health
      description: Get health advisories, vaccination requirements, and medical information for a country.
      tags:
      - Health
      parameters:
      - name: id
        in: path
        required: true
        description: Country slug or alpha-2 code
        schema:
          type: string
      responses:
        '200':
          description: Health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthInfo:
      type: object
      properties:
        country:
          type: string
        vaccinations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              requirement:
                type: string
                enum:
                - Required
                - Recommended
                - Optional
        healthRisks:
          type: array
          items:
            type: string
        drinkingWater:
          type: string
          enum:
          - Safe
          - Unsafe
          - Boil Advisories
        medicalFacilities:
          type: string
          enum:
          - Excellent
          - Good
          - Limited
          - Very Limited
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
