openapi: 3.0.3
info:
  title: Basetrip Cities Cost API
  description: The Basetrip API provides travel intelligence data including country and city information, travel phrases, safety ratings, visa requirements, cost of living data, and health advisories. Designed to help travel platforms differentiate their products and improve traveler experiences.
  version: 3.0.0
  contact:
    name: Basetrip Support
    url: https://www.thebasetrip.com/en/documentation/v3
  termsOfService: https://www.thebasetrip.com/en/terms
servers:
- url: https://api.thebasetrip.com/v3
  description: Basetrip API v3
security:
- ApiKeyAuth: []
tags:
- name: Cost
paths:
  /countries/{id}/cost:
    get:
      operationId: getCountryCost
      summary: Get Country Cost
      description: Get cost of living and travel budget estimates for a country.
      tags:
      - Cost
      parameters:
      - name: id
        in: path
        required: true
        description: Country slug or alpha-2 code
        schema:
          type: string
      responses:
        '200':
          description: Cost information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostInfo'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
    CostInfo:
      type: object
      properties:
        country:
          type: string
        currency:
          type: string
        budgetPerDay:
          type: number
          description: Budget traveler daily cost in USD
        midRangePerDay:
          type: number
          description: Mid-range daily cost in USD
        luxuryPerDay:
          type: number
          description: Luxury daily cost in USD
        categories:
          type: object
          properties:
            accommodation:
              type: number
            food:
              type: number
            transport:
              type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
